<%= form_for :purchase, url: purchases_path do |f| %>
<h1>Purchase <%= @product.title %></h1>
<table>
	<tr>
		<th>Title</th>
		<th>Price</th>
		<th></th>
	</tr>	
	<tr>
		<td><%= @product.title %></td>
		<td><%= number_to_currency(@product.price.to_f/100, unit: "£", precision: 2) %></td>
		<td><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			data-description="<%= @product.title %>"
			data-amount="<%= @product.price %>"></script>
		</td>
	</tr>
</table>
<%= f.hidden_field :product_id, :value => @product.id %>
<% end %>